/****RESET BÁSICO****/
/*RESET BÁSICO*/
*, *::after, *::before{margin:0;padding:0;box-sizing:border-box;border:none;outline:none;text-decoration: none;}

img{max-width: 100%;display: block;margin: auto;border-radius:5px;}

/*CONTAINER centraliza e define tamanho do width em %*/
.container{width:95%;margin: 0 auto;overflow: hidden;}

/*CUSTOMIZAÇÃO DE TAGS, CORES*/

/*DEFININDO VARIAVEIS GLOBAIS*/
:root {
    /*FONTES*/
    --fonte-texto: "Roboto", sans-serif;
    --fonte-titulos: "Arial",sans-serif;
    --cor-texto: #F1F1FA;
    --cor-titulo: #0000ff;
    --cor-titulo-1: #F05A00;

    /*CORES*/
    /* --cor-bg-1: #0050b1; */
    --cor-bg-1: #3053D2;
    --cor-bg-2: #F1F1FA;
    --cor-bg-3: #95a6db;
    --cor-bg-4: #f0f0f0;
    --cor-bg-teste: red;
    --bg-light:#FFF;
    --bg-light-1:#eaece5;
  }


html, body{height: 100vh;font-size: 100%;}

body{   
    font-size: 1em;
    font-family: var(--fonte-titulos);
    line-height: 1.5em;
    background-color: var(--cor-bg-1) ;
    text-align: center;
    color: black;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

h1 {
    /* text-align: center; */
    font-size: 1.5em;
    margin: 15px 0;
    color: #003087;
  }

h2 {
    /* color: red; */
    /* text-align: center; */
    text-shadow: 1px 1px 2px black;
    /* line-height: 1.6em; */
  }

p{
    margin-bottom: 0.9em; 
    color: black;
    /* text-align:left;  */
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: keep-all;
  }

/*TOPO*/
#toposite{
    /* background:var(--cor-titulo-1); */
     display:flex;}
#topositeint{
    display:flex; 
    /* justify-content: space-between; */
    align-items: center;
    /* margin-bottom: 1%; */
    /* background:var(--alternative1-bg-color);  */
     flex:1;
    }    
#topologo{
    /* width: 116px; */
    /* height: 116px; */
    padding: 10px;
}
#topocontato{display:flex;flex-direction: column;justify-content: space-evenly;flex:1;text-align: center;}
#topocontato p{font-size: 1.5rem;text-shadow: 2px 2px #222;}
#topocontato i{font-size: 1.5rem;}

#topologoimg{border-radius: 10px;}


/*NAV */
#menu{
    margin-bottom: 1%;
    display: flex;
    justify-content: end;
    padding: 1rem;
    flex: 1;
}
    
.menu {display:flex;align-items:center;justify-content: space-between;}
nav ul,nav li {list-style: none;margin:0;padding:0;}
nav ul{display:flex;}
nav a{
    display:block;
    padding:15px;
    font-weight:bold;
    text-decoration:none;
    text-transform:uppercase;color:#fff;text-shadow:2px 2px 2px black;cursor: pointer;transition: all 1s linear; margin-top: 1rem;}
nav .active a,nav a:hover{background-color:#39aae1;color:#FFFFFF;}
.menuMobile{display:none;width:50px;height:50px;color: white;justify-content: center;cursor: pointer;}
.menuMobile-container{display: flex;flex-direction: column;align-items: center;}
.mm_line{height:3px;background-color:#fff;width: 80%;margin: 2px;}

/*MAIN*/
main{
    background-color: var(--cor-bg-4);
}

/*PRODUTOS*/
.produto-item{background-color: red;}
.produto-item a{
    display: block;
    text-align: center;
  }

.btn {
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
    transition: background-color 0.3s;
    }
    
    .btn-saibamais {
      background-color: #003087;
      color: white;
    }
    
    .btn-saibamais:hover {
      background-color: #0056b3;
      color: white;
    }
    
    .btn-whatsapp {
      background-color: #25d366;
      color: #000;
    }
    
    .btn-whatsapp:hover {
      background-color: #1ebe56;
    }
  

/*RODAPE*/
#rodape-index{
    /* background-color: #3053D2; */
    color: white;
    text-shadow: 1px 1px #222;
    text-align: center;
}

#rodape-index a{
    color: white;
}

#rodape-index p{
    /* text-align: center; */
    color: white;
}

#copyright{
    border-top: 1px solid #ccc;
}

/* #rodape-itens{
    background-color: red;
} */


