/****RESET BÁSICO****/
*{margin:0;padding:0;box-sizing:border-box;font-family:Verdana,Arial,Helvetica,sans-serif;border:none;outline:none;}

img{max-width: 100%;display: block;margin: auto;border-radius:5px;}

/*CONTAINER centraliza e define tamanho do width em %*/
.container{width:95%;margin: 0 auto;overflow: hidden;}

body{
    background-color: #f0f0f0;
}

/*TOPO*/
#toposite{background:#3053d2;}
#topositeint{display:flex;justify-content: space-between;margin-bottom: 1%;background:var(--alternative1-bg-color);} 
#topologo{width: 116px;height: 116px;padding: 10px;}
#topocontato{display:flex;flex-direction: column;justify-content: space-evenly;flex:1;text-align: center;}
#topocontato p{font-size: 1.5rem;text-shadow: 2px 2px #222;}
#topocontato i{font-size: 1.5rem;}


/*NAV */
#menu{margin-bottom: 1%;}
.menu {display:flex;align-items:center;justify-content: space-between;}
nav ul,nav li {list-style: none;margin:0;padding:0;}
nav ul{display:flex;}
nav a{display:block;padding:15px;font-weight:bold;text-decoration:none;text-transform:uppercase;color:#fff;text-shadow:2px 2px 5px #333;cursor: pointer;transition: all 1s linear;}
nav .active a,nav a:hover{background-color:#39aae1;color:#FFFFFF;}
.menuMobile{display:none;width:50px;height:50px;color: white;justify-content: center;cursor: pointer;}
.menuMobile-container{display: flex;flex-direction: column;align-items: center;}
.mm_line{height:3px;background-color:#fff;width: 80%;margin: 2px;}